
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    font-family: Arial, sans-serif;
    
}


.header, .footer, .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
}

.logo-container {
    position: absolute; 
    top: 40px; 
    left: 150px; 
}

.logo {
    width: 150px; 
    height: auto; 
}
 .square {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.header > .square {
    height: 45em;
    background-image: url(./img-3/jumbo.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    
}
.main :nth-child(1) {

height: 45em;
background-color: white;
}
.main :nth-child(2) {
    height: 60em;
    background-color: #F6F6F6;
}
.main :nth-child(3) {
    height: 50em;
    background: white;
}
.main :nth-child(4) {
    height: 70em;
    background-color:#ffffff ;
    padding: 55em;
    
    
    
}
.footer :nth-child(1) {
    height: 80em;
    background-color: black;
}
.innersquare {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   width: 55%;
    height: 25em;
    position: absolute; 
    margin-top: 6%;
}
.title {
    font-size: 3rem;
    padding-bottom: 60px;
    color: white;
}

.paragraph {
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 10px;
line-height: 1.8;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-top: 20px;
}
.buttons button {
    font-size: 1.4rem;
    border-radius: 30px;
    padding: 17px 33px;
}
.buttons button i {
    padding-right: 5px;
}

.btn1 {
    padding: 10px 20px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: black;
}
.btn2 { 
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 40%;
    height: 8em;
    position: absolute; 
   top:0
   
}
.ulnav {
display: flex;
list-style: none;
gap: 40px;     
}
.ulnav li {
    font-size: 1rem;
    color: white;
    cursor: pointer; 
}
.buttonn {
    width: 10em;
    height: 5em;
    position: absolute; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-bottom: 37.5em;
    margin-left: 80em;
   
}
.buttonn button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
}

.mainsquare {
    width: 55em;
    height: 30em;
    position: absolute;
    margin-top: 45%;
    margin-left: 17%;
    
}
.mainsquare img {
    width: 100%; 
    height: 100%; 
   
   
}
.mainsquare1 {
    width: 25em;
    height: 28em;
    position: absolute;
    margin-top: 47%;
    margin-left: 63%;
    
}
h2 {
    font-size: 45px;
    padding: 10px;
}
p {
    font-size: 20px;
    padding: 5px;
    padding-top: 15px;
    line-height: 1.8;
}
.mainsquare2 {
    width: 28em;
    height: 25em;
    position: absolute;
    margin-top: 90%;
    margin-left: 23%;
    
    
}
.mainsquare3 {
    width: 42em;
    height: 35em;
    position: absolute;
    margin-top: 85%;
    margin-left: 50%;  
}
.mainsquare3 img {
    width: 100%; 
    height: 100%; 
   
}
.mainsquare4 {
    width: 45em;
    height: 40em;
    position: absolute;
    margin-right: 35%;
   margin-bottom: 7%;
}
.mainsquare4 img {
    width: 100%;
    height: 100%;
}
.mainsquare5 {
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 20em;
    position: absolute;
    margin-bottom: 7%;
    margin-left: 30%;   
}
.mainsquare5 p {
    background-color: transparent !important;
}

.mainsquare8 {
    display: flex;
    flex-direction: column;
width: 40em;
height: 17em;
position: absolute;
margin-top: 230em;
}
.mainsquare8 h2 {
    background-color: transparent !important;
    font-size: 2rem;
    text-align: center;
}
.lastbutton {
    display: block;
    margin: 20px auto; 
    padding: 5px 35px;
    font-size: 1.2rem;
    background-color: #7289DA !important;
    border: none;
    border-radius: 30px;
    cursor: pointer;
   color: white;
   font-size: 1.3rem;
}


    
.mainsquare6 {
    display: flex;
    flex-direction: column;
    width: 65em;
    height: 15em;
    position: absolute;
    margin-top: 70%;
}
.mainsquare6 img {
    width: 100%;
    height: 100%;
}
.mainsquare6 h2 {
    text-align: center;
    font-size: 3.3rem;
}
.mainsquare6 p {
    text-align: center;
    background-color: transparent !important;
}
.mainsquare7 {
    width: 80em;
    height: 40em;
    background-color: purple;
    position: absolute;
    margin-top: 150em;   
}
.mainsquare7 img {
    width: 100%;
    height: 100%;
    
}
.footerimg{
    width: 27em;
    height: 18em;
    background-color: purple;
    position: absolute;
    margin-right: 70%;
    margin-bottom: 19%;
   

}
.list {
    width: 12em;
    height: 40em;
    background-color: purple;
   margin: 3em;
     
}
